.App {
  text-align: center;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  background-color: #ffff;
}

.csv__button 
  background-color: darkkhaki;
  color: #ffff;
}

.csv__button:hover {
  color: darkkhaki;
  background-color: #ffff;
  text-decoration: none;
}
